{% extends "bootstrap/base.html" %}

{% block title %}Meal &mdash; Website Template by Colorlib{% endblock %}

{% block styles %}
  {{super()}}

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/animate.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/owl.carousel.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/aos.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/jquery.timepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/fonts/ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/fonts/fontawesome/css/font-awesome.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/fonts/flaticon/font/flaticon.css') }}">

  <!-- Theme Style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='meal-template/css/style.css') }}">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="{{ url_for('static', filename='meal-template/js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/jquery.waypoints.min.js') }}"></script>

  <script src="{{ url_for('static', filename='meal-template/js/bootstrap-datepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/jquery.timepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='meal-template/js/jquery.stellar.min.js') }}"></script>

  <script src="{{ url_for('static', filename='meal-template/js/jquery.easing.1.3.js') }}"></script>

  <script src="{{ url_for('static', filename='meal-template/js/aos.js') }}"></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

  <script src="{{ url_for('static', filename='meal-template/js/main.js') }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20904639-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20904639-9');
  </script>
{% endblock %}

{% block body_attribs %} class="bg-light"{% endblock %}

{% block content %}
  <div class="site-wrap">

      {% include 'include/meal-template/nav.html' %}
      {% include 'include/meal-template/header.html' %}

      <div class="main-wrap ">

        {% block page %}{% endblock %}

      </div>

      {% include 'include/meal-template/footer.html' %}
  </div>

  {% include 'include/meal-template/header.html' %}

{% endblock %}
