{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{{ url_for('.static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20904639-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20904639-9');
  </script>
{% endblock %}

{% block body_attribs %} class="bg-gradient-primary"{% endblock %}

{% block content %}
  {% block page %}{% endblock %}
{% endblock %}
