{% extends "base/sb-auth.html" %}

{% block title %}Signup{% endblock %}

{% block page %}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Registe-se no Há Carta!</h1>
                  </div>
                  <form class="user" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                      {{ form.email(class='form-control form-control-user', placeholder='Email') }}
                      {% for error in form.email.errors %}
                      <small class="form-text text-danger">{{ error }}</small>
                      {% endfor %}
                    </div>

                    <div class="form-group">
                      {{ form.password(class='form-control form-control-user', placeholder='Senha') }}
                      {% for error in form.password.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                      {% endfor %}
                    </div>

                    {{ form.submit(class='btn btn-primary btn-user btn-block') }}
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('users.login') }}">Já tem conta? Inicie sessão!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
