<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Restaurante
</div>

<!-- Nav Item - Create Flight -->
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('restaurants.edit', restaurant_id=restaurant.id) }}">
    <i class="fas fa-fw fa-cog"></i>
    <span>Sobre</span></a>
  <a class="nav-link" href="{{ url_for('restaurants.qrcodes', restaurant_id=restaurant.id) }}">
    <i class="fas fa-fw fa-wrench"></i>
    <span>QR Codes</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Menu
</div>

<!-- Nav Item - Flight Log -->
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('restaurants.list_products', restaurant_id=restaurant.id) }}">
    <i class="fas fa-fw fa-folder"></i>
    <span>Produtos</span></a>

<!-- Nav Item - Create Flight -->
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('restaurants.list_categories', restaurant_id=restaurant.id) }}">
    <i class="fas fa-fw fa-cog"></i>
    <span>Categorias</span></a>
</li>
</li>
