{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='new-age-template/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='new-age-template/vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link href="{{ url_for('static', filename='new-age-template/device-mockups/device-mockups.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='new-age-template/css/new-age.min.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='new-age-template/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='new-age-template/js/new-age.min.js') }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20904639-9"></script>
  <script>
    redirectToBatikanos = function() {
      window.location.href = "{{ url_for('restaurants.home', slug='batikanos') }}";
    }

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20904639-9');
  </script>
{% endblock %}

{% block title %}Bem vindo, há carta!{% endblock %}

{% block body_attribs %} id="page-top"{% endblock %}

{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Há carta!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Visão</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Funcionalidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Esqueça a carta de papel. Tenha o seu restaurante online, gratuitamente.</h1>
            <a href="{{ url_for('restaurants.add') }}" class="btn btn-outline btn-xl js-scroll-trigger">Registe o seu Estabelecimento!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{{ url_for('static', filename='new-age-template/img/demo-screen-1.png') }}" class="img-fluid" alt="">
                </div>
                <div class="button" onclick="redirectToBatikanos()">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">3 simples passos</h2>
          <p>E tem a carta do seu restaurante, accessível através de um QR code!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>A carta do seu estabelecimento num QR code.</h2>
        <p class="text-muted">Descubra como!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{{ url_for('static', filename='new-age-template/img/demo-screen-2.png') }}" class="img-fluid" alt="">
                </div>
                <div class="button" onclick="redirectToBatikanos()">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Resgistar.</h3>
                  <p class="text-muted">Indique-nos o nome do seu estabelecimento!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Adicionar Produtos.</h3>
                  <p class="text-muted">Crie categorias, indique-nos nome e preço dos seus produtos!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Colocar QR codes nas mesas!</h3>
                  <p class="text-muted">Imprima os QR codes que lhe damos. Permita aos seus clientes consultar e levar a carta para casa!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>O seu espaço online</h3>
                  <p class="text-muted">Disponibilize horários, contactos, toda a informação do seu estabelecimento, sem limites!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Impaciente?<br>Começe já.</h2>
        <a href="{{ url_for('restaurants.add') }}" class="btn btn-outline btn-xl js-scroll-trigger">Registe o seu estabelecimento!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>Tem dúvidas? Contacte-nos.</h2>
      <p><b>Por email:</b> prodrigues@gmail.com</p>
      <p><b>Por telefone:</b> +351 92 055 25 26</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>copyright &copy;<script>document.write(new Date().getFullYear());</script> Pedro Rodrigues - all rights reserved</p>
    </div>
  </footer>
{% endblock %}

