<footer class="ftco-footer">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-5">
        <div class="footer-widget">
          {{ restaurant.footer|markdown }}
        </div>
      </div>

    </div>

    <div class="row pt-5">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          copyright &copy;<script>document.write(new Date().getFullYear());</script> Pedro Rodrigues - all rights reserved | template by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <p><a href="{{ url_for('restaurants.edit', restaurant_id=restaurant.id) }}" target="_blank">privado</a></p>
      </div>
    </div>
  </div>
</footer>
