<header class="site-header">
  <div class="row align-items-center">
    <div class="col-5 col-md-3">

    </div>
    <div class="col-2 col-md-6 text-center site-logo-wrap">
      <a href="{{ url_for('restaurants.home', slug=restaurant.slug) }}" class="site-logo">{{ restaurant.name[0]|upper }}</a>
    </div>
    <div class="col-5 col-md-3 text-right menu-burger-wrap">
      <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>

    </div>
  </div>

</header>
