<nav class="site-menu" id="ftco-navbar-spy">
  <div class="site-menu-inner" id="ftco-navbar">
    <ul class="list-unstyled">
      <!--<li><a href="#section-home">Home</a></li>-->
      <li><a href="{{ url_for('restaurants.home', slug=restaurant.slug) }}">About Us</a></li>
      <li><a href="{{ url_for('restaurants.menu', slug=restaurant.slug) }}">Our Menu</a></li>
      <!--<li><a href="#section-reservation">Reserve A Table</a></li>-->
      <!--<li><a href="#section-contact">Contact</a></li>-->
    </ul>
  </div>
</nav>
