<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      copyright &copy;<script>document.write(new Date().getFullYear());</script> Pedro Rodrigues - all rights reserved
    </div>
  </div>
</footer>
