<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-text mx-3">Há Carta</div>
  </a>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('restaurants.manage') }}">
      <i class="fas fa-fw fa-cog"></i>
      <span>Meus Restaurantes</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Restaurante
  </div>

  <!-- Nav Item - Create Flight -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-cog"></i>
      <span>Sobre</span></a>
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Horários</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu
  </div>

  <!-- Nav Item - Create Flight -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-cog"></i>
      <span>Categorias</span></a>
  </li>

  <!-- Nav Item - Flight Log -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-folder"></i>
      <span>Produtos</span></a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
