{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - Categoria{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Adicionar Categoria</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control', placeholder='Nome') }}
      {% for error in form.name.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>

    {% if form.submit %}
      {{ form.submit(class='btn btn-primary') }}
    {% endif %}
    {% if form.delete %}
      {{ form.delete(class='btn btn-danger') }}
    {% endif %}
  </form>

{% endblock %}
