{% extends 'base/sb-dash.html' %}

{% block title %}Adicionar Restaurante{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Adicionar Restaurante</h1>{% endblock %}

{% block page %}
  <p class="mb-4">Preencha os dados abaixo para ter a página do seu restaurante disponível e adiconar produtos.</p>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control', placeholder='Nome') }}
      {% for error in form.name.errors %}
        <small id="emailHelp" class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>

    {{ form.submit(class='btn btn-primary') }}
  </form>

{% endblock %}
