{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - Produto{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Adicionar Produto</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control', placeholder='Nome') }}
      {% for error in form.name.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class='form-control', placeholder='Descrição') }}
      {% for error in form.description.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.category.label }}
      {{ form.category(class='form-control', placeholder='Categoria') }}
      {% for error in form.category.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.price.label }}
      {{ form.price(class='form-control', placeholder='Preço') }}
      {% for error in form.price.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>

    {% if form.submit %}
      {{ form.submit(class='btn btn-primary') }}
    {% endif %}
    {% if form.delete %}
      {{ form.delete(class='btn btn-danger') }}
    {% endif %}
  </form>

{% endblock %}
