{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - Editar{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Sobre o {{ restaurant.name }}</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}
  <p class="mb-4">Altere o visual do seu menu e informações sobre o seu restaurante.</p>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control', placeholder='Nome') }}
      {% for error in form.name.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.slug.label }}
      {{ form.slug(class='form-control', placeholder='Url') }}
      {% for error in form.slug.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(id="edit-description", class='form-control', placeholder='Descrição') }}
      {% for error in form.description.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.footer.label }}
      {{ form.footer(id="edit-footer", class='form-control', placeholder='Informação de rodapé') }}
      {% for error in form.footer.errors %}
        <small class="form-text text-muted">{{ error }}</small>
      {% endfor %}
    </div>

    {{ form.submit(class='btn btn-primary') }}

    {{ simplemde.css }}
    {{ simplemde.js }}
    {{ simplemde.load_id("edit-description") }}
    {{ simplemde.load_id("edit-footer") }}
  </form>
{% endblock %}
