{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - QR Codes{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">QR Codes</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}
  <p class="mb-4">Imprime e coloque os códigos nas mesas.</p>

  <img src="{{ qrcode(public_href) }}">

{% endblock %}
