{% extends 'base/sb-dash.html' %}

{% block title %}Meus Restaurantes{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Meus Restaurantes</h1>{% endblock %}

{% block page %}
  <p class="mb-4">Adicione novos restaurantes ou selecione um existente para o editar.</p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Ver</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for restaurant in restaurants %}
              <tr>
                <td>{{ restaurant.name }}</td>
                <td><a href="{{ url_for('restaurants.home', slug=restaurant.slug) }}" >Ver</a></td>
                <td><a href="{{ url_for('restaurants.edit', restaurant_id=restaurant.id) }}" >Editar</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <a href="{{ url_for('restaurants.add') }}" class="btn btn-primary btn-icon-split">
      <span class="text">Adicionar Restaurante</span>
    </a>
  </div>
{% endblock %}
