{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - Produtos{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Produtos</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}
  <p class="mb-4">Adicione produtos ao seu menu.</p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Categoria</th>
              <th>Preço</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for product in restaurant.products %}
              <tr>
                <td>{{ product.name }}</td>
                <td>
                  {% for category in product.categories %}
                    {{ category.name }}
                    {% if not loop.last %}
                      ,
                    {% endif %}
                  {% endfor %}
                  </td>
                <td>{{ product.price }}€</td>
                <td><a href="{{ url_for('restaurants.edit_product', restaurant_id=restaurant.id, product_id=product.id) }}">Editar</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <a href="{{ url_for('restaurants.add_product', restaurant_id=restaurant.id) }}" class="btn btn-primary btn-icon-split">
      <span class="text">Adicionar Produto</span>
    </a>
  </div>

{% endblock %}
