{% extends 'base/sb-dash.html' %}

{% block title %}{{ restaurant.name }} - Categorias{% endblock %}

{% block topbar_content %}<h1 class="h3 mb-2 text-gray-800">Categorias</h1>{% endblock %}

{% block sidebar %}{% include 'restaurants/include/sidebar.html' %}{% endblock %}

{% block page %}
  <p class="mb-4">Organize o seu menu em categorias, crie ou apague categorias. Poderá depois adicionar a categoria aos produtos.</p>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th># produtos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for category in restaurant.categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.products|length }}</td>
                <td><a href="{{ url_for('restaurants.edit_category', restaurant_id=restaurant.id, category_id=category.id) }}">Editar</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <a href="{{ url_for('restaurants.add_category', restaurant_id=restaurant.id) }}" class="btn btn-primary btn-icon-split">
      <span class="text">Adicionar Categoria</span>
    </a>
  </div>

{% endblock %}
