{% extends "base/meal-template.html" %}

{% block title %}{{ restaurant.name }} - Menu{% endblock %}

{% block page %}
  <div class="section bg-light" id="section-menu" data-aos="fade-up">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
            {% if restaurant.categories|length > 0 %}
              <li class="nav-item">
                <a class="nav-link active" id="pills-{{ restaurant.categories[0].name }}-tab" data-toggle="pill" href="#pills-{{ restaurant.categories[0].name }}" role="tab" aria-controls="pills-{{ restaurant.categories[0].name }}" aria-selected="true">{{ restaurant.categories[0].name }}</a>
              </li>
            {% endif %}
            {% for category in restaurant.categories[1:] %}
              <li class="nav-item">
                <a class="nav-link" id="pills-{{ category.name }}-tab" data-toggle="pill" href="#pills-{{ category.name }}" role="tab" aria-controls="pills-{{ category.name }}" aria-selected="false">{{ category.name }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="pills-tabContent">
            {% if restaurant.categories|length > 0 %}
              <div class="tab-pane fade active show" id="pills-{{ restaurant.categories[0].name }}" role="tabpanel" aria-labelledby="pills-{{ restaurant.categories[0].name }}-tab">

                {% for product in restaurant.categories[0].products %}
                  <div class="d-block d-md-flex menu-food-item">

                    <div class="text order-1 mb-3">
                      {% if product.image %}
                        <img src="{{ url_for('static', filename='meal-template/images/img_1.jpg') }}" alt="Image">
                      {% endif %}
                      <h3>{{ product.name }}</h3>
                      <p>{{ product.description }}</p>
                    </div>
                    <div class="price order-2">
                      <strong>{{ product.price }}€</strong>
                    </div>
                  </div> <!-- .menu-food-item -->
                {% endfor %}

              </div>
            {% endif %}
            {% for category in restaurant.categories[1:] %}
              <div class="tab-pane fade" id="pills-{{ category.name }}" role="tabpanel" aria-labelledby="pills-{{ category.name }}-tab">

                {% for product in category.products %}
                  <div class="d-block d-md-flex menu-food-item">

                    <div class="text order-1 mb-3">
                      {% if product.image %}
                        <img src="{{ url_for('static', filename='meal-template/images/img_1.jpg') }}" alt="Image">
                      {% endif %}
                      <h3>{{ product.name }}</h3>
                      <p>{{ product.description }}</p>
                    </div>
                    <div class="price order-2">
                      <strong>{{ product.price }}€</strong>
                    </div>
                  </div> <!-- .menu-food-item -->
                {% endfor %}

              </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
